{% extends 'pages/base.jinja' %}

{% block title %}
    Page Not Found
{% endblock %}

{% block content %}
    <article id="pageNotFound">
        <h1>404</h1>

        <h2>Page not found!</h2>
        <a href="/" role="button">Go Home?</a>
    </article>
{% endblock %}