{% extends "pages/base.jinja" %}


{% block title %}
    You selected a number!
{% endblock %}

{% block content %}


<h1>Wow. Here is your number that you entered</h1>

<article id="random">
    <p>{{number}}</p>
</article>
{% endblock %}