{% extends "pages/base.jinja" %}


{% block title %}
    Random Number!
{% endblock %}

{% block content %}


<h1>Your random number is</h1>

<article id="random">
    <p>{{number}}</p>
</article>
{% endblock %}